# The number of milliseconds of each tick
tickTime=2000
# The number of ticks that the initial 
# synchronization phase can take
initLimit=10
# The number of ticks that can pass between 
# sending a request and getting an acknowledgement
syncLimit=5
# the directory where the snapshot is stored.
# do not use /tmp for storage, /tmp here is just 
# example sakes.
#dataDir=/tmp/zookeeper
dataDir=/data

# dataLogDir : (No Java system property) This option will direct the machine to write the transaction log to the dataLogDir
# rather than the dataDir. This allows a dedicated log device to be used, and helps avoid competition between logging and snapshots.
dataLogDir=/datalog

# the port at which the clients will connect
clientPort=2181

# The port the embedded Jetty server listens on. Defaults to 8080
admin.serverPort=8081

# the maximum number of client connections.
# increase this if you need to handle more clients
#maxClientCnxns=60
#
# Be sure to read the maintenance section of the 
# administrator guide before turning on autopurge.
#
# http://zookeeper.apache.org/doc/current/zookeeperAdmin.html#sc_maintenance
#
# The number of snapshots to retain in dataDir
autopurge.snapRetainCount=5
# Purge task interval in hours
# Set to "0" to disable auto purge feature
autopurge.purgeInterval=24

# The zookeeper cluster setting
#server.<myid>=<host>:<port1>:<prot2>
server.1=ks-023111066-bigdata-clickhouse:2888:3888