<?xml version="1.0" encoding="UTF-8"?>

<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" 
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">  
<localRepository>e:/buildtool/repo</localRepository>
<mirrors>  
    <mirror>  
      <id>mynexus</id>  
      <name>内部私服</name>  
      <url>http://maven.weoa.com/nexus/content/groups/public/</url> 
      <mirrorOf>*</mirrorOf>  
    </mirror>  
</mirrors>  

<offline>false</offline>

    <profiles>
        <profile>
            <id>webank</id>
            <repositories>
                <repository>
                    <id>nexus</id>
                    <name>Nexus</name>
                    <url>http://maven.weoa.com/nexus/content/groups/public/</url>
                    <releases>
                        <enabled>true</enabled><!-- true 发布版本可以下载 -->
                        <updatePolicy>always</updatePolicy>
                        <!--daily 每天检查一次 
                           never  从不检查更新
                           always 每次构建都检查更新
                           interval:X  每个X分钟检查一次更新     -->
                    </releases>
                    <snapshots>
                        <enabled>true</enabled><!-- false 快照版本不可以下载 -->
                            <updatePolicy>always</updatePolicy>
                        <!--daily 每天检查一次 
                           never  从不检查更新
                           always 每次构建都检查更新
                           interval:X  每个X分钟检查一次更新     -->
                    </snapshots>
                </repository>
            </repositories>
            
            <pluginRepositories>
                <pluginRepository>
                    <id>nexus</id>
                    <name>Nexus</name>
                    <url>http://maven.weoa.com/nexus/content/groups/public/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile> 
    </profiles>
        
     <!--默认启动  nexus 规则-->
    <activeProfiles>
        <activeProfile>webank</activeProfile> 
    </activeProfiles>

<servers>
 

</servers>

<pluginGroups>  
    <pluginGroup>org.mortbay.jetty</pluginGroup>  
 </pluginGroups>  

</settings>

